/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/

.accordionButton {	
	width: 600px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	cursor: pointer;
	}
	
.accordionContent {	
	width: 600px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background-color: rgba(150,150,150,0.1);
	}
	
.over {
	background-color: rgba(0,161,228,0.1);
	}